{% extends 'resume/base.html' %}

{% block body %}
{% if user.is_authenticated %}


<div class="container">
    <!-- Data from User table -->
    <p>Username: {{ user.username }}</p>
    <p>Full name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>

    <!-- Data from UserProfile table -->
    {% for profile in all_profiles %}
    <p>Profile Summary: {{ profile.summary }}</p>
    <p>Phone no: {{ profile.phone }}</p>
    <p>Alternate Phone no: {{ profile.alt_phone }}</p>
    <p>Alternate Email: {{ profile.alt_email }}</p>
    <p>Experience(in years): {{ profile.experience }}</p>
    <p>Current CTC(in LPA): {{ profile.current_ctc }}</p>
    <p>Expected CTC(in LPA): {{ profile.expected_ctc }}</p>
    {% endfor %}

    <!-- Data from UserJobExperience table -->
    {% for exp in all_exp %}
    <div class="card bg-light text-dark"><div class="card-body">
        <p>Company: {{ exp.company_name }}</p>
        <p>Duration: {{ exp.duration }}</p>
        <p>Designation: {{ exp.designation }}</p>
        <p>Contribution: {{ exp.contribution }}</p>
    </div></div>
    {% endfor %}

    <a class="btn btn-primary" href="{% url 'resume:edit_profile' %}">Click here to edit your details</a>

</div>

{% else %}
    <h1>You are not Logged in to view this Page. Please login or Register</h1>
    <p><a href="{% url 'resume:register' %}">Register</a></p>
    <p><a href="{% url 'resume:login_user' %}">Login</a></p>
{% endif %}

{% endblock %}